.navbar {
    background: #d9a7c7 !important;  
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7) !important;
    background: linear-gradient(to right, #fffcdc, #d9a7c7) !important;
    }
    .nav-link{
        font-size:3rem;
        color: $negro;
        
    }
    .nav-imagenLogo{
        width: 40% !important;
    
    }